.about {
    &__container {
        margin: 7vw 4vw;
        min-height: 60vh;
        position: relative;
    }

    &__text {
        width: 70%;
        font-size: 1vw;
    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;

        &-div {
            height: 25vw;
            width: 25vw;
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 0;
            box-shadow: 5px 5px 20px rgb(162, 162, 162);
        }
    }
}

@media only screen and (max-width: 640px) {
    .about {
        &__container {
            margin: 0 4vw;
            min-height: 80vh;
            padding: 22vw 0 60vw 0;
            display: flex;
            flex-direction: column;
        }

        &__text {
            width: 100%;
        }

        &__image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            
            &-div {
                margin-bottom: 5vw;
                height: 80vw;
                width: 80vw;
                border-radius: 50%;
                overflow: hidden;
                align-self: center;
                position: relative;
                right: 0;
                top: 0;
                box-shadow: 5px 5px 20px rgb(162, 162, 162);
            }
        }
    }
}