.about {
    &__container {
        margin: 5vw 4vw 30vw 4vw;
        min-height: 60vh;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__col {
        display: flex;
        flex-direction: column;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    &__text {
        width: 45vw;
        font-size: 1vw;
        text-align: justify;
    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: .4s;

        &-div {
            height: 35vw;
            width: 35vw;
            border-radius: 1rem;
            overflow: hidden;
            right: 0;
            top: 0;
            box-shadow: 5px 5px 20px rgb(162, 162, 162);
        }

        &:hover {
            filter: grayscale(100%);
        }
    }
}

@media only screen and (max-width: 640px) {
    .about {
        &__container {
            margin: 0 4vw;
            min-height: 80vh;
            padding: 16vw 4vw 70vh 4vw;
            display: flex;
            flex-direction: column;
        }

        &__text {
            width: 100%;
            font-size: 5vw;
            text-align: justify;
        }

        &__image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            
            &-div {
                margin-bottom: 5vw;
                height: 80vw;
                width: 80vw;
                border-radius: 50%;
                overflow: hidden;
                align-self: center;
                position: relative;
                right: 0;
                top: 0;
                box-shadow: 5px 5px 20px rgb(162, 162, 162);
            }

            &:hover {
                filter: none;
            }
        }
    }
}