.button {
    &__default {
        // margin: .5vw;
        font-size: 1vw;
        background-color: #D3AFAF;
        width: fit-content;
        padding: .5vw;
        border-radius: .5vw;
        cursor: pointer;
        font-weight: normal;
        transition: .3s;
        border: none;
        border: 1px solid transparent;

        &:hover {
            filter: brightness(110%);
            border: 1px solid #D3AFAF;
            transition: .4s;
        }

    }

    &__svg {
        height: 1.5vw;
    }
}

@media only screen and (max-width: 640px) {
    .button {
        &__default {
            // margin: .5vw;
            font-size: 5vw;
            background-color: #D3AFAF;
            width: fit-content;
            padding: 3vw;
            border-radius: 1.5vw;
            cursor: pointer;
            font-weight: normal;
            transition: .3s;
            border: none;

            &:hover {
                filter: brightness(110%);
                // box-shadow: 2px 2px 10px gray;
                transition: .3s;
            }

        }

        &__svg {
            height: 8vw;
            padding: 1vw;
        }
    }
}