.bespoken {
    &__container {
        padding: 5vw 4vw 30vw 4vw;
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo {
        height: 5rem;
    }

    &__row {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 2rem;
    }

    &__col {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
    }

    &__text {
        font-family: 'Bentham', serif;
        font-size: 1.3rem;
        text-align: justify;
        max-width: 60vw;
    }

    &__story-img {
        border-radius: 1rem;
        box-shadow: 5px 5px 20px rgb(162, 162, 162);
        transition: .4s;
        width: 30vw;
        object-fit: cover;

        &:hover {
            filter: grayscale(100%);
        }
    }

    &__subtitle {
        text-align: left;
        align-self: flex-start;
    }

    &__section {
        &-card {
            background-color: #FFF9F5;
            width: 80%;
            height: 12vh;
            border-radius: 1rem;
            padding: .4rem;
            margin: 1.5rem auto 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            border: 1px solid lightgray;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.085);
        }

        &-title {
            font-size: 1rem;
            margin: 0;
        }

        &-description {
            font-size: .8rem;
            font-weight: normal;
            margin: 0;
        }
    }

    &__product {
        &-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            gap: 1rem;
        }

        &-image {
            height: 48vh;
            border-radius: 1rem;
            height: 100%;

            &-wrapper {
                opacity: 0;
                position: relative;
                transition: .4s;
                height: fit-content;
                width: fit-content;
                height: 48vh;
                border-radius: 1rem;
                animation: fade-in-card 1s ease-in forwards;

                &:hover {
                    // filter: brightness(110%);
                    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .175);
                    transform: translateY(-1%);
                }
            }

            &-pin {
                display: none;
                transition: .4s;

                &--show {
                    display: block;
                    height: 30px;
                    background-color: white;
                    border: none;
                    border-radius: 50%;
                    position: absolute;
                    top: 8%;
                    right: 8%;
                    transition: .4s;
                    cursor: pointer;
                }
            }
        }

        &-cards {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            width: 100%;
            align-items: center;
            justify-content: center;
            margin-top: 4rem;
        }

        &-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 20vw;
            height: 20vw;
            border: 1px solid lighgray;
            border-radius: 50%;
            background-color: #FFF9F5;
            box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.152);
            cursor: pointer;
            transition: .3s;
            overflow: hidden;
            position: relative;

            &:hover {
                box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.263);
                transform: translateY(-1%);
            }

            &:hover .bespoken__product-card-img {
                opacity: 1;
            }

            &:hover .bespoken__product-card-title {
                color: white;
                font-weight: bold;
            }

            &-title {
                font-size: 1.4rem;
                // font-weight: bold;
                margin: 1rem;
                z-index: 1;
                color: white;
                font-weight: bold;
                transition: .3s;
            }

            &-img {
                width: 20vw;
                height: auto;
                z-index: 0;
                position: absolute;
                opacity: 1;
                transition: .3s;
            }
        }

        &-col {
            display: flex;
            flex-direction: column;
            align-items: center;
            animation: fade-in 1s ease-in forwards;
        }


        &-caption {
            width: 35vw;
        }


        &-seemore {
            margin-top: 4rem;
            border: 2px solid #E60023;
            color: white;
            background-color: #E60023;
            font-size: 1rem;
            font-weight: bold;
            padding: .7rem;
            border-radius: 1rem;
            cursor: pointer;
            transition: .3s;

            &:hover {
                border: 2px solid #E60023;
                background-color: white;
                color: #E60023;
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .bespoken {
        &__container {
            padding: 16vw 0 60vw 0;
            min-height: 80vh;
        }

        &__row {
            flex-direction: column;
            width: 100%;
            margin-top: 1rem;
        }

        &__col {
            width: 86vw;
        }

        &__text {
            max-width: 86vw;
        }

        &__story-img {
            margin-top: 2rem;
            width: 86vw;
        }

        &__product {

            &-list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;
                gap: 1rem;

            }

            &-image {
                height: 50vh;

                &-wrapper {
                    height: 50vh;
                }
            }

            &-cards {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                width: 100%;
                align-items: center;
                justify-content: center;
                margin-top: 3rem;
            }

            &-card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 65vw;
                height: 65vw;
                border: 1px solid lighgray;
                border-radius: 50%;
                background-color: #FFF9F5;
                box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.127);
                cursor: pointer;
                transition: .3s;
                overflow: hidden;
                position: relative;

                &:hover {
                    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.197);
                }

                &-title {
                    font-size: 1.4rem;
                    // font-weight: bold;
                    margin: 1rem;
                    z-index: 1;
                    transition: .3s;
                }

                &-img {
                    width: 70vw;
                    height: auto;
                    z-index: 0;
                    position: absolute;
                    transition: .3s;
                }
            }

            &-caption {
                width: 85vw;
            }

        }
    }
}