.bespoken {
    &__container {
        padding: 0 4rem 30rem 4rem;
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        // font-family: 'Lora', serif;
    }

    &__logo {
        height: 5rem;
    }

    &__row {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 2rem;
    }

    &__col {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
    }

    &__text {
        // font-family: 'Lora', serif;
        font-size: 1rem;
        text-align: justify;
        // max-width: 60vw;
    }

    &__story-img {
        border-radius: 1rem;
        box-shadow: 5px 5px 20px rgb(162, 162, 162);
        transition: .4s;
        width: 30vw;
        object-fit: cover;

        &:hover {
            filter: grayscale(100%);
        }
    }

    &__subtitle {
        text-align: left;
        align-self: flex-start;
        // color: #a5a5a5;
        font-size: 1.5rem;
        // font-style: italic;
        // font-family: 'Playfair Display', serif;
    }

    &__section {
        &-card {
            width: 80%;
            height: 10vh;
            border-radius: 1rem;
            padding: .4rem;
            margin: 2rem auto 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: .5rem;
            // border: 1px solid #d3d3d370;
            background: #82828236;
            box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.085);
            cursor: pointer;
        }

        &-title {
            font-size: 1rem;
            margin: 0;
        }

        &-description {
            font-size: .8rem;
            font-weight: normal;
            margin: 0;
        }
    }

    &__product {
        &-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            gap: 1rem;
            height: fit-content;
        }

        &-image {
            height: 48vh;
            border-radius: 1rem;
            height: 100%;

            &-wrapper {
                opacity: 0;
                position: relative;
                transition: .4s;
                height: fit-content;
                width: fit-content;
                height: 48vh;
                border-radius: 1rem;
                animation: fade-in-card 1s ease-in forwards;

                &:hover {
                    // filter: brightness(110%);
                    box-shadow: .3rem .3rem 1rem rgba(0, 0, 0, .175);
                    transform: translateY(-1%);
                }
            }

            &-pin {
                display: none;
                transition: .4s;

                &--show {
                    display: block;
                    height: 30px;
                    background-color: white;
                    border: none;
                    border-radius: 50%;
                    position: absolute;
                    top: 8%;
                    right: 8%;
                    transition: .4s;
                    cursor: pointer;

                    &:hover {
                        filter: brightness(120%);
                    }
                }
            }
        }

        &-cards {
            display: flex;
            flex-wrap: wrap;
            gap: 5rem;
            width: 100%;
            align-items: center;
            justify-content: center;
            margin-top: 4rem;
        }

        &-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 18vw;
            height: 22vw;
            border: 1px solid lighgray;
            border-radius: 1rem;
            background-color: #FFF9F5;
            box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.152);
            cursor: pointer;
            transition: .3s;
            overflow: hidden;
            position: relative;

            &:hover {
                box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.263);
                transform: translateY(-1%);
            }

            &:hover .bespoken__product-card-img {
                opacity: 1;
            }

            &:hover .bespoken__product-card-title {
                color: white;
                font-weight: bold;
            }

            &-title {
                font-size: 1.4rem;
                // font-weight: bold;
                margin: 1rem;
                z-index: 1;
                color: white;
                font-weight: bold;
                transition: .3s;
            }

            &-img {
                width: auto;
                height: 22VW;
                z-index: 0;
                position: absolute;
                opacity: 1;
                transition: .3s;
            }
        }

        &-col {
            display: flex;
            flex-direction: column;
            align-items: center;
            animation: fade-in 1s ease-in forwards;
        }


        &-caption {
            width: 55vw;
        }


        &-seemore {
            margin-top: 4rem;
            border: 2px solid #E60023;
            color: white;
            background-color: #E60023;
            font-size: 1rem;
            font-weight: bold;
            padding: .7rem;
            border-radius: 1rem;
            cursor: pointer;
            transition: .3s;

            &:hover {
                border: 2px solid #E60023;
                background-color: white;
                color: #E60023;
            }
        }

        &-goback {
            position: absolute;
            left: 1.5%;
            top: 4rem;
            font-size: 1.2rem;
            cursor: pointer;
            transition: .3s;

            &:hover {
                color: #5D8C8C;
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .bespoken {
        &__container {
            padding: 0 0 30rem 0;
            min-height: 80vh;
        }

        &__row {
            flex-direction: column;
            width: 100%;
            margin-top: 1rem;
        }

        &__col {
            width: 90vw;
        }

        &__text {
            width: 100%;
        }

        &__story-img {
            margin-top: 2rem;
            width: 86vw;

            &:hover {
                filter: none;
            }
        }

        &__product {

            &-list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;
                gap: 1rem;

            }

            &-image {
                height: 50vh;

                &-wrapper {
                    height: 50vh;
                }
            }

            &-cards {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                width: 100%;
                align-items: center;
                justify-content: center;
                margin-top: 3rem;
            }

            &-card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 70vw;
                height: 40vh;
                border: 1px solid lighgray;
                border-radius: 2rem;
                background-color: #FFF9F5;
                box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.127);
                cursor: pointer;
                transition: .3s;
                overflow: hidden;
                position: relative;

                &:hover {
                    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.197);
                }

                &-title {
                    font-size: 1.4rem;
                    // font-weight: bold;
                    margin: 1rem;
                    z-index: 1;
                    transition: .3s;
                }

                &-img {
                    height: 40vh;
                    width: auto;
                    z-index: 0;
                    position: absolute;
                    transition: .3s;
                }
            }

            &-caption {
                width: 85vw;
            }

            &-goback {
                position: relative;
                text-align: left;
                width: 100vw;
                margin: 0 0 0 1rem;
                left: 0;
                top: 0;
                // top: 3.5rem;
                font-size: .8rem;
                cursor: pointer;
                transition: .3s;
    
                &:hover {
                    opacity: .7;
                }
            }

        }
    }
}