.bespoken {
    &__container {
        padding: 5vw 4vw 30vw 4vw;
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo {
        height: 5rem;
    }

    &__row {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 2rem;
    }

    &__col {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
    }

    &__text {
        font-family: 'Bentham', serif;
        font-size: 1.3rem;
        text-align: justify;
        max-width: 60vw;
    }

    &__story-img {
        border-radius: 1rem;
        box-shadow: 5px 5px 20px rgb(162, 162, 162);
        transition: .4s;
        width: 30vw;
        object-fit: cover;

        &:hover {
            filter: grayscale(100%);
        }
    }

    &__subtitle {
        text-align: left;
        align-self: flex-start;
    }

    &__section {
        &-card {
            background-color: #BAD9D9;
            width: 86%;
            border-radius: 1rem;
            padding: .2rem;
            margin: 2rem auto 0 auto;
        }

        &-description {
            font-size: .8rem;
        }
    }

    &__product {
        &-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            gap: 2rem;
        }

        &-image {
            height: 40vh;
            border-radius: 1rem;
            height: 100%;

            &-wrapper {
                position: relative;
                transition: .4s;
                height: fit-content;
                width: fit-content;
                height: 40vh;
                border-radius: 1rem;

                &:hover {
                    // filter: brightness(110%);
                    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .175);
                    transform: translateY(-1%);
                }
            }

            &-pin {
                display: none;
                transition: .4s;

                &--show {
                    display: block;
                    height: 30px;
                    background-color: white;
                    border: none;
                    border-radius: 50%;
                    position: absolute;
                    top: 8%;
                    right: 8%;
                    transition: .4s;
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .bespoken {
        &__container {
            padding: 16vw 0 60vw 0;
            min-height: 80vh;
        }

        &__row {
            flex-direction: column;
            width: 100%;
            margin-top: 1rem;
        }

        &__col {
            width: 86vw;
        }

        &__text {
            max-width: 86vw;
        }

        &__story-img {
            margin-top: 2rem;
            width: 86vw;
        }

        &__product {
            &-image {
                height: 45vh;

                &-wrapper {
                    height: 45vh;
                }
            }
        }
    }
}