.store {
    &__container {
        min-height: 120vh;
        display: flex;
        flex-direction: column;
        padding: 0 0 40vh;
        position: relative;
    }

    &__bg {
        &-image {
            // max-height: 50vh;
            animation: fade-in 1s forwards;
            opacity: 0;
            animation-delay: 1s;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        max-height: 60vh;
        overflow: hidden;
    }

    &__col {
        display: flex;
        flex-direction: column;
    }

    &__title {
        text-align: center;
        animation: fade-in 1s forwards;
        margin: 2rem 0 4rem 0;
    }

    &__welcome {
        &-title {
            font-size: 4rem;
            margin: 0 0 2rem;
            text-align: center;
            opacity: 0;
            animation: fade-in-down 1s forwards;
            animation-delay: 1.5s;
            font-family: 'Madelyn', sans-serif;
        }

        &-text {
            font-size: 1.2rem;
            text-align: center;
            margin: 0;
            animation: fade-in 1s forwards;
            animation-delay: 2s;
            opacity: 0;
        }
    }

    &__categories {
        display: flex;
        flex-direction: row;
        width: 80vw;
        padding-bottom: 1.5rem;
        margin: 6rem auto 2rem auto;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid lightgray;
    }

    &__category {
        margin: 1rem;
        padding-right: 2rem;
        border-right: 1px solid lightgray;
        color: black;
        font-size: 1rem;
        animation: fade-in-down 1s forwards;
        animation-delay: 1s;
        opacity: 0;
        font-size: 1.2rem;
        transition: .2s !important;
        cursor: pointer;

        &:hover {
            // text-decoration: underline !important;
            opacity: .6 !important;
        }

        &:last-child {
            border: none;
            padding-right: 0;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2rem 2rem 10rem 2rem;
        gap: 3rem;
        height: 90%;
    }

    &__loader {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}

@media only screen and (max-width: 640px) {
    .store {
        &__row {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4rem;
            max-height: fit-content;
            overflow: hidden;
        }

        &__col {
            display: flex;
            flex-direction: column;
        }

        &__categories {
            flex-wrap: wrap;
        }

        &__category {
            margin: .5rem;
            padding-right: 1rem;
            font-size: 1rem;
        }
    }
}