.postviewer {
    &__container {
        padding: 5vw 10vw 15vw 10vw;
        transition: .3s;
        min-height: 100vh;
    }
}

@media only screen and (max-width: 640px) {
    .postviewer {
        &__container {
            padding: 20vw 4vw 60vw 4vw;
            transition: .3s;
        }
    }
    
}