.productcard {
    &__container {
        display: flex;
        flex-direction: column;
        height: 25rem;
        width: 20rem;
        align-items: center;
        gap: 1rem;
        cursor: pointer;

        &:hover .productcard__image {
            transform: scale(1.1);
        }
    }

    &__price {
        margin: 0;
    }

    &__title {
        font-size: 1.2rem;
        margin: 0;
    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: contain;
        transition: 1s;

        &-wrapper {
            height: 18rem;
            width: 100%;
            overflow: hidden;
        }
    }
}