.contact {
    &__container {
        padding: 5vw 4vw 30vw 4vw;
    }

    &__row-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    &__info {
        width: 40%;
    }

    &__title {}

    &__text {
        font-weight: normal;
    }

    &__box {
        display: flex;
        flex-direction: column;
        width: 40vw;
        box-shadow: 3px 3px 15px lightgray;
        border-radius: .5vw;
        padding: 1vw;
        margin-top: 2vw;
        gap: 1vw;
        background-color: #FFF9F5;
        height: fit-content;
    }

    &__input {
        border: 1px solid #FFF9F5;
        outline: none !important;
        padding: .3vw;
        font-size: 1vw;
        margin: .2vw .5vw;
        border-radius: .3vw;

        &-textarea {
            border: 1px solid #FFF9F5;
            outline: none !important;
            padding: .3vw;
            font-size: 1vw;
            margin: .5vw;
            border-radius: .3vw;
            resize: none;
        }
    }

    &__btn {
        margin: .5vw;
        font-size: 1vw;
        background-color: #8C776B;
        width: fit-content;
        padding: .5vw;
        border-radius: .5vw;
        cursor: pointer;
        font-weight: normal;
        transition: .3s;

        &:hover {
            filter: brightness(110%);
            // box-shadow: 2px 2px 10px gray;
            transition: .3s;
        }
    }
}

@media only screen and (max-width: 640px) {
    .contact {
        &__container {
            padding: 16vw 6vw 60vh 6vw;
            display: flex;
            flex-direction: column;
            text-align: justify;
        }


        &__row-container {
            display: flex;
            flex-direction: column;
            // width: 80vw;
        }

        &__info {
            width: 100%;
        }

        &__box {
            position: relative;
            transform: none;
            display: flex;
            flex-direction: column;
            right: unset;
            width: 90%;
            gap: 5vw;
            padding: 5vw;
            margin-top: 10vw;
            box-shadow: 3px 3px 15px lightgray;
            background-color: #fff;
            border-radius: 1.5vw;
            top: unset;
        }

        &__input {
            border: 1px solid #FFF9F5;
            outline: none !important;
            padding: .3vw;
            font-size: 1vw;
            border-radius: .3vw;

            &-textarea {
                border: 1px solid #FFF9F5;
                outline: none !important;
                padding: .3vw;
                font-size: 1vw;
                border-radius: .3vw;
                font-family: 'Lora', serif;
                resize: none;
            }
        }

        &__btn {
            margin: .5vw;
            font-size: 1vw;
            background-color: #8C776B;
            width: fit-content;
            padding: .5vw;
            border-radius: .5vw;
            cursor: pointer;
            font-weight: normal;
            transition: .3s;

            &:hover {
                filter: brightness(110%);
                // box-shadow: 2px 2px 10px gray;
                transition: .3s;
            }
        }
    }
}