.home {
    &__container {
        display: flex;
        flex-direction: column;
        padding: 5vw 0 9vw 0;
    }

    &__postlist {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vw;
        margin-top: 2vw;
    }

    
}