.postcard {
    &__container {
        display: none;
        flex-direction: column;
        height: 30vw;
        width: 20vw;
        cursor: pointer;
        transition: .5s;
        animation: fade-in-card 1s ease-in;

        &:hover {
            filter: brightness(110%) saturate(120%);
            box-shadow: 5px 5px 20px #b3b3b3;
            transition: .5s;
        }

        &:hover .postcard__image-overlap {
            font-size: 1.7vw;
            transition: .5s;
        }
    }

    &__image {
        height: 100%;
        min-width: 100%;
        object-fit: cover;

        &-div {
            height: 70%;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &-overlap {
            font-size: 1.5vw;
            color: white;
            position: absolute;
            width: 100%;
            text-align: center;
            // transform: translateY(400%);
            font-weight: normal;
            transition: .5s;
        }
    }

    &__text {
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        background-color: #ece7e6;
        overflow: hidden;
        white-space: nowrap;

        &-subtitle {
            font-size: .8vw;
            font-weight: normal;
            margin: 0;
        }

        &-title {
            font-size: 1vw;
            font-weight: normal;
            margin: 0;
        }

        &-description {
            font-size: .8vw;
            font-weight: normal;
            margin: 0;
            text-overflow: ellipsis;
        }
    }
}

@media only screen and (max-width: 640px) {
    .postcard {
        &__container {
            height: 65vw;
            width: 42vw;
            animation: fade-in-card 1.5s ease-in;
            box-shadow: 3px 3px 15px #c3c3c3;

            &:hover .postcard__image-overlap {
                font-size: 5vw;
            }
        }

        &__image {

            &-overlap {
                font-size: 4.5vw;
            }
        }

        &__text {
            height: 30%;
            overflow: visible;
            white-space: normal;

            &-subtitle {
                font-size: 2.5vw;
            }

            &-title {
                font-size: 3vw;
            }

            &-description {
                font-size: 3vw;
                font-weight: normal;
                margin: 0;
                text-overflow: ellipsis;
            }
        }
    }
}