.postcard {
    &__container {
        display: none;
        flex-direction: column;
        height: 80vh;
        width: 22.5%;
        cursor: pointer;
        transition: .5s;
        animation: fade-in-card 1s ease-in;
        // border-radius: 1rem;
        overflow: hidden;
        color: unset;
        text-decoration: none;

        &:hover {
            filter: brightness(110%) saturate(120%);
            // box-shadow: 5px 5px 20px #b3b3b3;
            transition: .2s !important;
            opacity: 1 !important;
        }

        &:hover .postcard__image {
            transform: scale(1.05);
            filter: brightness(.5);
        }

        &:hover .postcard__image-overlap {
            opacity: 1 !important;
            transition: .5s;
            transform: translateY(0);
        }
    }

    &__image {
        height: 100%;
        min-width: 100%;
        object-fit: cover;
        transition: .5s;

        &-div {
            height: 70%;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-lock {
            position: absolute;
            top: 5%;
            right: 5%;
            height: 2rem;
            opacity: 1 !important;
        }

        &-overlap {
            font-size: 1rem;
            color: white;
            position: absolute;
            width: 100%;
            text-align: center;
            opacity: 0;
            font-weight: normal;
            transition: .5s;
            z-index: 1;
            height: fit-content;
            width: 90%;
            transform: translateY(100%);
        }
    }

    &__text {
        // height: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        // justify-content: center;
        // text-align: center;
        // background-color: #ece7e6;
        overflow: hidden;
        white-space: nowrap;

        &-subtitle {
            font-size: .8rem;
            font-family: 'Lora', serif;
            color: #8c776b;
            font-weight: normal;
            margin: 1rem 0 0 0;
        }

        &-title {
            // font-family: 'Montserrat Alternates', sans-serif;
            font-size: 1.2rem;
            margin: .5rem 1rem .5rem 0;
            white-space: normal;
            font-weight: 600;
            text-decoration: none;
            color: #000;
        }

        &-description {
            font-size: .8rem;
            font-weight: normal;
            font-family: "Lora", serif;
            font-style: italic;
            margin: 0;
            text-overflow: ellipsis;
        }
    }
}

@media only screen and (max-width: 640px) {
    .postcard {
        &__container {
            height: 50vh;
            width: 70vw;
            margin-bottom: 1rem;
            animation: fade-in-card 1.5s ease-in;

            &:hover {
                filter: none;
            }

            &:hover .postcard__image {
                transform: none;
                filter: none;
            }

            &:hover .postcard__image-overlap {
                opacity: 0;
            }
        }

        &__image {

            &-overlap {
                font-size: 4.5rem;
            }
        }

        &__text {
            // height: 30%;
            overflow: visible;
            white-space: normal;

            &-subtitle {
                font-size: .6rem;
            }

            &-title {
                font-size: .9rem;
            }

            &-description {
                font-size: .7rem;
                font-weight: normal;
            }
        }
    }
}