.comment {
    &__container {
        background-color: rgb(241, 241, 241);
        border-radius: 1rem;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        position: relative;
        // box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.097);
    }

    &__row {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    &__col {
        display: flex;
        flex-direction: column;
    }

    &__name {
        font-weight: bold;
        margin: 0;
    }

    &__message {
        margin: .5rem 0 0 0;
    }

    &__date {
        margin: 0;
        font-size: .9rem;
        color: gray;
    }

    &__image {
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
        opacity: .8;
    }

    &__btns {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        margin-top: .5rem;
        gap: .5rem;
    }

    &__likes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        &-img {
            height: 1.3rem;
            cursor: pointer;
            transition: .3s;
            filter: invert(56%) sepia(0%) saturate(0%) hue-rotate(196deg) brightness(89%) contrast(85%);

            &:hover {
                opacity: .7;
                transform: translateY(-8%);
            }
        }

        &-count {
            margin: 0;
            margin: 0 1rem 0 .5rem;
            font-weight: bold;
            color: rgb(103, 103, 103);
        }
    }

    &__reply {

        &-row {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            border-top: 1px solid lightgray;
            margin-top: 1rem;
            padding-top: 1rem;
        }

        &-btn {
            color: rgb(103, 103, 103);
            margin: 0;
            cursor: pointer;
            transition: .3s;
            font-weight: bold;
            font-size: .9rem;

            &:hover {
                opacity: .7;
                transform: translateY(-8%);
            }
        }

        &-btns {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 2rem;
        }

        &-title {
            margin: 0 0 .3rem 0;
            font-size: 1.2rem;
        }

        &-box {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }

        &-image {
            height: 2rem;
            width: 2rem;
            opacity: .15;
        }
    }

    &__profile {
        border-radius: 50%;
        height: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        width: 2.5rem;
        background-color: gray;
        color: white;
        font-weight: bold;
        margin: 0;
    }
}