.inputfield {
    &__default {
        border: 1px solid lightgray;
        border-radius: .5rem;
        font-size: 1rem;
        padding: .4rem;
        font-weight: normal;
        font-family: 'Lora', serif;

        &:focus {
            border: 1px solid #D3AFAF;
            outline: none;
        }

        &:active {
            border: 1px solid #D3AFAF;
            outline: none;
        }

        &::placeholder {
            color: #b5b5b5;
        }
    }
}

.textarea {
    &__default {
        border: 1px solid lightgray;
        border-radius: .5rem;
        font-size: 1rem;
        padding: .4rem;
        font-weight: normal;
        resize: none;
        font-family: 'Lora', serif;

        &:focus {
            border: 1px solid #D3AFAF;
            outline: none;
        }

        &:active {
            border: 1px solid #D3AFAF;
            outline: none;
        }

        &::placeholder {
            color: #b5b5b5;
        }
    }
}