.header {
    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 10vw;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #FFF9F5;
        z-index: 2;
        animation: move-y-down .7s ease-in;
        transition: .5s;
        font-family: 'Lora', serif;
    }

    &__menu {
        height: 4vw;
        background-color: #FFF9F5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: .5s;
        position: relative;
        z-index: 2;

        &:hover .header__menu-svg {
            opacity: 0.5;
            transition: .3s;
        }

        &-sidebar {
            &--hidden {
                margin-top: 4vw;
                background-color: #FFF9F5;
                height: 100vh;
                width: 20vw;
                position: absolute;
                top: 0;
                left: 0;
                transition: .5s;
                transform: translateX(-100%);
                opacity: 0.2;
                box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
                cursor: auto;
            }

            &--toggled {
                margin-top: 4vw;
                background-color: #FFF9F5;
                height: 100vh;
                width: 20vw;
                position: absolute;
                top: 0;
                left: 0;
                transition: .5s;
                transform: translateX(0%);
                opacity: 1;
                box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
                cursor: auto;
            }
        }

        &-item {
            align-self: center;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            position: relative;

            &-text {
                font-size: 1vw;
                transition: .4s;
                font-weight: normal;
                cursor: pointer;
                position: relative;
                width: fit-content;
                align-self: center;

                // &::after {
                //     content: '';
                //     position: absolute;
                //     width: 100%;
                //     transform: scaleX(0);
                //     height: 1px;
                //     bottom: 0;
                //     left: 0;
                //     background-color: #000;
                //     transform-origin: bottom right;
                //     transition: transform 0.4s ease-out;
                // }

                // &:hover::after {
                //     transform: scaleX(1);
                //     transform-origin: bottom left;
                // }
            }
        }
    }

    &__menu-svg {
        height: 1vw;
        margin: 1vw 1.2vw;
    }

    &__logo {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // border-right: 1px solid #cccccc;
        cursor: pointer;
        flex: 1;
        text-align: center;

        &-text {
            font-size: 1vw;
            margin: 0 2vw;
            font-weight: normal;
            transition: .5s;

            &:hover {
                opacity: .5;
            }
        }

        &-image {
            max-height: 4.5vw;
            transition: .5s;

            &:hover {
                opacity: .6;
                transform: scaleX(103%);
            }
        }
    }

    &__items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 40%;
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 4vw;
        padding: 0 1.5vw;
        transition: 0.3s;

        &:hover>.header__item-text {
            // background-color: #ece7e6;
            color: #8C776B;
        }

        &:hover>.header__item-dropdown {
            transform: translateY(0%);
            top: 0;
            transition: .4s;
            opacity: 1;
            pointer-events: initial;
        }

        &-text {
            font-size: .8rem;
            font-weight: normal;
            transition: .3s;
            cursor: pointer;
        }

        &-svg {
            height: 1.5vw;
            cursor: pointer;
        }

        &-dropdown {
            transform: translateY(-50%);
            display: flex;
            position: absolute;
            margin: 4vw -1.5vw;
            flex-direction: column;
            align-items: center;
            background-color: #FFF9F5;
            opacity: 0;
            padding: 1.5vw;
            gap: 1vw;
            min-width: 10vw;
            box-shadow: 7px 11px 16px -3px #9999995e;
            pointer-events: none;

            &-text {
                margin: .3vw 0;
                font-size: .8rem;
                font-weight: normal;
                position: relative;
                cursor: pointer;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    background-color: #000;
                    transform-origin: bottom right;
                    transition: transform 0.4s ease-out;
                }

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }

    }

    &__admin-search {
        display: flex;
        flex-direction: row;
        width: 40%;
    }

    &__admin-btns {
        // position: absolute;
        // right: 0;
        // margin-right: 21vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1vw;
        transform: scale(.85);
    }

    &__delete-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 255, 255);
        padding: 1vw;
        border-radius: .5vw;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
        z-index: 2;

        &-btns {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__search {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
        margin: 0 1vw;

        &-svg {
            height: 1vw;
            margin: 1vw 1.2vw;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                opacity: 0.5;
                transition: 0.3s;
            }
        }

        &-input {
            font-size: 1rem;
            border: none;
            border-bottom: 1px solid lightgray;
            padding: .3vw;
            background-color: #FFF9F5;

            &:focus {
                outline: none;
            }
        }
    }
}


// --- Mobile--- 
@media only screen and (max-width: 640px) {
    .header {
        &__container {
            height: 20vw !important;
            text-align: center;
        }

        &__menu {
            height: 20vw;

            &-svg {
                height: 7vw;
                margin: 3vw 5vw;
            }

            &-sidebar {
                &--hidden {
                    margin-top: 20vw;
                    transform: translateX(-150%);
                    box-shadow: 7px 11px 16px -3px #9999995e;
                }

                &--toggled {
                    margin-top: 20vw;
                    width: 70vw;
                    transform: translateX(0%);
                    box-shadow: 7px 11px 16px -3px #9999995e;
                }
            }

            &-item {

                &-text {
                    font-size: 4vw;
                    margin: 4.5vw 0;
                }
            }
        }

        &__logo {
            height: 8vw;
            border: none;
            width: 65%;
            text-align: center;

            &-text {
                font-size: 4.5vw;
            }

            &-image {
                height: 13vw;
                max-height: unset;
                margin-bottom: 1.5vw;
            }
        }

        &__search {
            margin: 0 5vw;
            width: fit-content;

            &-svg {
                height: 6vw;
                // margin: 2vw 4vw;
            }

            &-input {
                font-size: 4.5vw;
                padding: 1.5vw;
            }
        }

        &__delete-modal {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #FFF9F5;
            padding: 4vw;
            border-radius: 1.5vw;
            box-shadow: 3px 3px 15px gray;
            z-index: 2;
            width: 60vw;

            &-btns {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-top: 8vw;
            }
        }

        &__admin-btns {
            position: relative;
        }


    }
}