.footer {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20vw;
        background-color: #FFF9F5;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
        animation: move-y-up .7s ease-in;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4vw;

        &-link {
            font-weight: normal;
            transition: .3s;
            font-size: 1rem;
            position: relative;
            cursor: pointer;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 1px;
                bottom: 0;
                left: 0;
                background-color: #000;
                transform-origin: bottom right;
                transition: transform 0.4s ease-out;
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 2vw;
    }

    &__social {
        margin: 0 2vw;

        &-svg {
            height: 1.2rem;
            margin: 0 1rem;
            cursor: pointer;
            transition: 0.3s;
            opacity: .6;

            &:hover {
                opacity: 0.5;
                transition: 0.3s;
                filter: invert(51%) sepia(3%) saturate(2931%) hue-rotate(314deg) brightness(103%) contrast(99%);
            }
        }
    }

    &__signature {
        margin: 0;
        opacity: .8;
        font-family: "Madelyn", sans-serif;
        font-size: 2rem;
    }

    &__copyright {
        font-weight: normal;
    }
}

// --- Mobile--- 
@media only screen and (max-width: 640px) {
    .footer {
        &__container {
            height: 20rem;
        }

        &__nav {
            // justify-content: space-between;
            width: 80vw;
            margin: 0 4vw;
            flex-wrap: wrap;

            &-link {
                font-size: 3.5vw;
                margin: 0 2vw;

                &:hover {
                    opacity: .5;
                    transition: .3s;
                }
            }
        }

        &__info {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 4vw;
        }

        &__social {
            margin: 2rem;

            &-svg {
                height: 5vw;
                margin: 3vw;
            }
        }

        &__copyright {
            font-weight: normal;
            font-size: .9rem;
        }
    }
}