.post {
    &__container {
        margin: 3rem 0 0 0;
        position: relative;
        display: flex;
        gap: 4rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 700px;
        align-self: center;
        border-radius: 1rem;
        animation: fade-in 1s ease-in;
        overflow: hidden;
    }
    
    &__body {
        display: flex;
        flex-direction: column;
    }

    &__image {
        width: 100%;
        height: 100%;
        opacity: .15;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center center;
        margin: 4vw 0;
    }

    &__headers {
        position: relative;
        width: fit-content;
    }

    &__title {
        width: fit-content;
        margin-top: 0;
        font-size: 4rem !important;
        font-family: 'Madelyn', sans-serif;
        text-align: center;
    }

    &__subtitle {
        width: fit-content;
        font-family: 'Montserrat';
        font-size: 1rem;
        color: #8c776b;
        margin-bottom: 2rem;
    }

    &__share-icon {
        height: 2vw;
        margin: 1vw;
        cursor: pointer;
        transition: 0.3s;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0 -3.5vw 0 0;
        opacity: 0.3;

        &:hover {
            opacity: 1;
            transition: 0.3s;
            filter: invert(51%) sepia(3%) saturate(2931%) hue-rotate(314deg) brightness(103%) contrast(99%);
        }
    }

    &__side-images {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem
    }

    &__side-image {
        max-width: 100%;
        // max-height: 60vh;
        border-radius: .5rem;
        // box-shadow: 5px 5px 15px rgb(179, 179, 179);
        transition: .4s;

        &:hover {
            filter: grayscale(100%);
        }
    }

    &__not-published {
        position: absolute;
        right: -5rem;
        top: 3rem;
        transform: rotate(45deg);
        background-color: orange;

        &-text {
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0 5rem;
        }
    }
}

@media only screen and (max-width: 640px) {
    .post {
        &__container {
            margin: 2vw 2vw 0 2vw;
            display: flex;
            gap: 4rem;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            padding: 3rem 2rem;
            width: 90vw;
            align-self: center;
            padding: 2vh;
            border-radius: 1rem;
        }

        &__body {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &__headers {
            position: relative;
            width: 100%;
        }

        &__share-icon {
            height: 1.5rem;
            margin: 0;
            top: -1rem;
        }


        &__side-images {
            width: 100%;
            gap: 8vw;
        }

        &__side-image {
            border-radius: 1.5vw;

            &:hover {
                filter: none;
            }
        }
    }
}