@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Lora&family=Montserrat+Alternates:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Lora', serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page__wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding: 7vw 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p img {
  border-radius: .5vw;
  box-shadow: 5px 5px 15px rgb(179, 179, 179);
  transition: .4s;
  max-width: 100%;
  height: auto;
}

p img:hover {
  filter: grayscale(100%);
}

.no-pointer {
  cursor: default !important;
}