@import '../pages/Home/home.scss';
@import '../pages/PrivacyPolicy/privacy.scss';
@import '../pages/About/about.scss';
@import '../pages/Contact/contact.scss';
@import '../pages/PostViewer/postviewer.scss';
@import '../pages/Blog/blog.scss';
@import '../pages/Login/login.scss';
@import '../pages/Search/search.scss';
@import '../pages/Subscribe/subscribe.scss';
@import '../pages/PostEditor/posteditor.scss';
@import '../pages/Bespoken/bespoken.scss';
@import '../pages/Notifications/notifications.scss';

.page {
    &__wrapper {
        position: relative;
        min-height: 100vh;
        overflow: hidden;
        padding: 7rem 0;
    }

    &__header {
        align-self: center;
        text-align: center;

        &-title {
            font-size: 1.2rem;
            font-weight: normal;
            padding-bottom: 1rem;
            border-bottom: 1px solid gray;
            width: fit-content;
            margin: 0 auto;
            animation: move-y-up .7s ease-in;
            font-family: 'Bentham', sans-serif;

            &-blog {
                font-size: 1rem;
                margin: 0;
            }
        }

        &-subtitle {
            font-size: 1rem;
            padding-bottom: 1.5rem;
            width: fit-content;
            margin: 1rem auto 0 auto;
            animation: move-y-down .7s ease-in;

            &-blog {
                margin: 0;
                color: #c9c9c9;
                font-size: 1.5rem;
                font-style: italic;
                font-weight: normal;
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .page {
        &__wrapper {
            position: relative;
            min-height: 100vh;
            overflow: hidden;
            padding: 2rem 0;
        }
    }
}