@import 'components';
@import 'pages';
@import 'fonts';
@import 'animations';

.root {

    &__container {}

    &__main {}
}

.--fixed {
    position: fixed !important;
    margin-top: 4vw !important;
    top: 0 !important;
}