@import 'components';
@import 'pages';
@import 'fonts';
@import 'animations';

.root {

    &__container {}

    &__main {}
}

.--fixed {
    position: fixed !important;
    margin-top: 4vw !important;
    top: 0 !important;
}

.close-animation {
    animation: close-animation .2s ease-in forwards !important;
}

.fade-in {
    opacity: 0;
    animation: fade-in .5s ease-in forwards;
}

::-webkit-scrollbar {
    background: transparent;
    width: .3rem;
    height: .5rem;
    border-radius: .5rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(105, 105, 105, 0.564);
    border-radius: .5rem;
  }